<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <!-- Creo la tabla donde van a ir los pokemon-->
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Nombre</th>
                            <th scope="col">Tipo</th>
                            <th scope="col">Nivel</th>
                            <th scope="col">Eliminar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let pokemon of pokemons;">
                            <td>{{pokemon.name}}</td>
                            <td>{{pokemon.types}}</td>
                            <td>{{pokemon.level}}</td>
                            <td>
                                <input type="submit" class="btn btn-danger" value="Eliminar" (click)="deletePokemon(pokemon.name)">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>