<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="input-group">
                    <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" #name />
                    <button type="button" class="btn btn-outline-primary" (click)="buscar(name.value)">search</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h2 class="font-weight-normal">Pokemon</h2>
                <p class="font-weight-normal">Nombre: {{pokemon.name}}</p>
                <p class="font-weight-normal">Tipo: {{pokemon.types}}</p>
                <p class="font-weight-normal">Nivel: {{pokemon.level}}</p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <h2 class="font-weight-normal">Habilidades</h2>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Nombre</th>
                            <th scope="col">Tipo</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let skill of pokemon.skills">
                            <td>{{skill.name}}</td>
                            <td>{{skill.type}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <h2 class="font-weight-normal">Evoluciones</h2>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Nombre</th>
                            <th scope="col">Tipo</th>
                            <th scope="col">Level</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let evol of pokemon.evolutions">
                            <td>{{evol.name}}</td>
                            <td>{{evol.type}}</td>
                            <td>{{evol.name}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>